#top-bar {
    height: 150px;
}

#app-name {
    font-size: 98px;
    color: black;
    font-weight: bolder;
    padding-top: 30px;
}

#list-btn {
    font-size: 50px;
    position: absolute;
    right: 30px;
    top: 10px;
    font-weight: bold;
    height:120px;
}

#display-field {
    height: 100px;
    background-color: black;
    font-size: 65px;
    text-indent: 10%;
    font-weight: bold;
}

#number-buttons-id {
    font-size: 180px;
    font-weight: bold;
    float: left;
    margin: 15px;
    color: yellow accent 4;
    border-radius: 10px;
    width: 220px;
}

#materials-buttons-id {
    width: 800px;
    font-size: 180px;
}

#bottom-bar {
    height: 180px;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

main {
    flex: 1 0 auto;
  }

  #submit-id {
    font-weight: bold;
    float: left;
    margin: 15px;
    color: black;
    border-radius: 10px;
  }